[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
# default-authentication-plugin=mysql_native_password
innodb_buffer_pool_size=2147483648
max_allowed_packet=1G
max_connections=1000

[client]
default-character-set=utf8
